In [5]:
 !pip install -r requirements.txt

Requirement already satisfied: requests in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (2.25.1)
Requirement already satisfied: pandas in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (0.25.3)
Collecting bomwater
  Downloading bomwater-0.0.8-py3-none-any.whl (10 kB)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (1.25.11)
Requirement already satisfied: chardet<5,>=3.0.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from requests->-r requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: numpy>=1.13.3 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 2)) (1.18.5)
Requirement already satisfied: xmltodict in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from bomwater->-r requirements.txt (line 3)) (0.12.0)
Collecting geojson
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Collecting shapely
  Downloading Shapely-1.8.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 37.5 MB/s eta 0:00:01
Requirement already satisfied: json5 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from bomwater->-r requirements.txt (line 3)) (0.9.6)
Collecting iso8601
  Downloading iso8601-1.0.2-py3-none-any.whl (9.7 kB)
Requirement already satisfied: six>=1.5 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas->-r requirements.txt (line 2)) (1.16.0)
Installing collected packages: geojson, shapely, iso8601, bomwater
Successfully installed bomwater-0.0.8 geojson-2.5.0 iso8601-1.0.2 shapely-1.8.0

In [6]:
!python setup.py install

running install
running bdist_egg
running egg_info
writing mdba_gauge_getter.egg-info/PKG-INFO
writing dependency_links to mdba_gauge_getter.egg-info/dependency_links.txt
writing top-level names to mdba_gauge_getter.egg-info/top_level.txt
writing manifest file 'mdba_gauge_getter.egg-info/SOURCES.txt'
installing library code to build/bdist.linux-x86_64/egg
running install_lib
running build_py
creating build/bdist.linux-x86_64/egg
creating build/bdist.linux-x86_64/egg/mdba_gauge_getter
creating build/bdist.linux-x86_64/egg/mdba_gauge_getter/data
copying build/lib/mdba_gauge_getter/data/bom_gauge_data.csv -> build/bdist.linux-x86_64/egg/mdba_gauge_getter/data
copying build/lib/mdba_gauge_getter/gauge_getter.py -> build/bdist.linux-x86_64/egg/mdba_gauge_getter
copying build/lib/mdba_gauge_getter/__init__.py -> build/bdist.linux-x86_64/egg/mdba_gauge_getter
byte-compiling build/bdist.linux-x86_64/egg/mdba_gauge_getter/gauge_getter.py to gauge_getter.cpython-36.pyc
byte-compiling build/bdist.linux-x86_64/egg/mdba_gauge_getter/__init__.py to __init__.cpython-36.pyc
creating build/bdist.linux-x86_64/egg/EGG-INFO
copying mdba_gauge_getter.egg-info/PKG-INFO -> build/bdist.linux-x86_64/egg/EGG-INFO
copying mdba_gauge_getter.egg-info/SOURCES.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying mdba_gauge_getter.egg-info/dependency_links.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying mdba_gauge_getter.egg-info/top_level.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
zip_safe flag not set; analyzing archive contents...
mdba_gauge_getter.__pycache__.gauge_getter.cpython-36: module references __file__
creating 'dist/mdba_gauge_getter-0.1-py3.6.egg' and adding 'build/bdist.linux-x86_64/egg' to it
removing 'build/bdist.linux-x86_64/egg' (and everything under it)
Processing mdba_gauge_getter-0.1-py3.6.egg
removing '/anaconda/envs/azureml_py36/lib/python3.6/site-packages/mdba_gauge_getter-0.1-py3.6.egg' (and everything under it)
creating /anaconda/envs/azureml_py36/lib/python3.6/site-packages/mdba_gauge_getter-0.1-py3.6.egg
Extracting mdba_gauge_getter-0.1-py3.6.egg to /anaconda/envs/azureml_py36/lib/python3.6/site-packages
mdba-gauge-getter 0.1 is already the active version in easy-install.pth

Installed /anaconda/envs/azureml_py36/lib/python3.6/site-packages/mdba_gauge_getter-0.1-py3.6.egg
Processing dependencies for mdba-gauge-getter==0.1
Finished processing dependencies for mdba-gauge-getter==0.1

In [2]:
import mdba_gauge_getter as gg

In [3]:

help(gg.gauge_getter)

Help on module mdba_gauge_getter.gauge_getter in mdba_gauge_getter:

NAME
    mdba_gauge_getter.gauge_getter

FUNCTIONS
    call_state_api(state:str, indicative_sites:List[str], start_time:datetime.date, end_time:datetime.date, data_source:str, var:str, interval:str, data_type:str) -> Dict[str, Any]
        Sends a web request with a destination based on `state` of the gauge.

        Returns a JSON dict object containing web responses, and will fail if the server returns
        either a non HTTP-200 error code, or invalid JSON

    extract_data(state:str, data) -> List[List[Any]]
        Collects

    gauge_pull(gauge_numbers:List[str], start_time_user:datetime.date, end_time_user:datetime.date, var:str='F', interval:str='day', data_type:str='mean') -> pandas.core.frame.DataFrame
        Given a list of gauge numbers, sorts the list into state groups, and queries relevant
        HTTP endpoints for data, returning as a Pandas dataframe object.

    get_states_for_gauge(gauge_number:str) -> Set[str]
        Given a gauge number, returns a set of states which that gauge may belong to.

    init() -> None
        Loads gauges from disk. This will dynamically trigger when other libraries require
        gague data.

    process_gauge_pull(sitelist:List[str], callstate:str, call_data_source:str, start_time_user:datetime.date, end_time_user:datetime.date, var:str, interval:str, data_type:str) -> List[List[Any]]
        Intermediate function which splits many gauge_pull records into separate web requests
        and provides user feedback on progress

    sort_gauges_by_state(gauge_numbers:List[str]) -> Dict[str, List[str]]
        Splits the listed gauges into state-based lists.

    split_into_chunks(input_list:List[~T], maxlen:int) -> List[List[~T]]
        Splits a list into many lists of maximum `maxlen` length. Let input_list = [1,2,3,4].
        When:

        - `maxlen=1` => `[[1],[2],[3],[4]]`
        - `maxlen=2` => `[[1, 2],[3, 4]]`
        - `maxlen=3` => `[[1, 2, 3], [4]]`
        - `maxlen=4` => `[[1, 2, 3, 4]]`
        - `maxlen=5` => `[[1, 2, 3, 4]]`

DATA
    Any = typing.Any
    MAX_SITES_PER_REQUEST = {'NSW': 10, 'QLD': 10, 'VIC': 10}
    Optional = typing.Optional
    STATE_FLOW_VarFrom = {'NSW': Decimal('100.00'), 'QLD': Decimal('100.00...
    STATE_FLOW_VarTo = {'NSW': Decimal('141.00'), 'QLD': Decimal('141.00')...
    STATE_LEVEL_VarFrom = {'NSW': Decimal('130.00'), 'QLD': Decimal('100.0...
    STATE_LEVEL_VarTo = {'NSW': Decimal('130.00'), 'QLD': Decimal('100.00'...
    STATE_URLS = {'NSW': 'realtimedata.waternsw.com.au', 'QLD': 'water-mon...
    T = ~T
    __annotations__ = {'gauges': <class 'pandas.core.frame.DataFrame'>}
    gauge_data_uri = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/...0...
    gauges = None
    log = <Logger mdba_gauge_getter.gauge_get (INFO)>

FILE
    /mnt/batch/tasks/shared/LS_root/mounts/clusters/npd-data-azml-vm-bb-ds2/code/Users/Ben.Bradshaw/DataOps%20Gauge%20Getter/mdba_gauge_getter/gauge_getter.py

In [5]:
import datetime
from decimal import *
BIGEE_gauges = ["410130", "410005", "410040"]
#gg.sort_gauges_by_state(BIGEE_gauges)
d_BIDGEE = gg.gauge_pull(BIGEE_gauges, start_time_user = datetime.date(2000, 12, 4), end_time_user= datetime.date(2020, 12, 4), var='F' )

INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 1

https://realtimedata.waternsw.com.au/cgi/webservice.pl?{"params":{"site_list":"410130,410005,410040","start_time":"20001204000000","varfrom":"100.00","interval":"day","varto":"141.00","datasource":"CP","end_time":"20201204000000","data_type":"mean","multiplier":"1"},"function":"get_ts_traces","version":"2"}

In [6]:
d_BIDGEE

      DATASOURCEID  SITEID SUBJECTID    DATETIME     VALUE  QUALITYCODE
0              NSW  410130     WATER  2000-12-04   649.745           38
1              NSW  410130     WATER  2000-12-05   598.909           38
2              NSW  410130     WATER  2000-12-06   578.624           38
3              NSW  410130     WATER  2000-12-07   555.826           38
4              NSW  410130     WATER  2000-12-08   527.558           38
...            ...     ...       ...         ...       ...          ...
21913          NSW  410040     WATER  2020-11-30  2122.212          140
21914          NSW  410040     WATER  2020-12-01  2091.129          140
21915          NSW  410040     WATER  2020-12-02  2085.267          140
21916          NSW  410040     WATER  2020-12-03  1866.843          140
21917          NSW  410040     WATER  2020-12-04  1633.865          140

[21918 rows x 6 columns]

In [5]:
Paroo =	["424201A","424202A","424002"]
Warrego = ["423203A","423204A"]
Condamine_Balonne = ["422006","422394A","422310C","422355A","422353A","422316A","422333A","422308C","422325A","422213A"]
Moonie = ["417204A","417201B","417001"]
Border_Rivers =["416002", "416202A","416011","416007","416043","416048"]
Gwydir = ["418036", "418027", "418037", "418060", "418008","418012","418013","418001","418002","418053","416027","418060","418066","416027","416052","418055"]
Namoi =["419021", "419049","419020","419022","419001","419012"]
Macquarie_Castlereagh = ["420004", "421039","421001","421012"]
Barwon_Darling = ["425003","416050","422001","422004","422028","425004"] 
Lachlan	= ["412057","412002","412004","412036","412011","412057"]
Murrumbidgee = ["410001","410008","410004","410005","410021","410078","410136","410040"]
Ovens = ["403241"]
Goulburn_Broken	= ["405232","405203","405201"]
Campaspe = ["406200","406207","406202"]
Loddon_Avoca = ["407203","407210","407224","407205"]
Wimmera	= ["415246"]
Murray = ["425010","409215","409204","414200","414203","426200"]
Lower_Darling = ["425012","425013","425005"]
Eastern_Mt_Lofty_Ranges = ["A4260568"]

allguages = Paroo + Warrego + Condamine_Balonne + Moonie + Border_Rivers + Gwydir + Namoi + Macquarie_Castlereagh + Barwon_Darling + Lachlan + Murrumbidgee + Ovens + Goulburn_Broken + Campaspe + Loddon_Avoca + Murray + Wimmera + Lower_Darling + Eastern_Mt_Lofty_Ranges

In [6]:
gg.gauge_pull(allguages, start_time_user = datetime.date(2021, 6, 1), end_time_user= datetime.date.today() )

WARNING:mdba_gauge_getter.gauge_get:Gauge 422353A has many state results: ['QLD', 'QLD']
INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 2 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 3 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 4 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 5 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 6 of 6
INFO:mdba_gauge_getter.gauge_get:VIC - Request 1 of 2
INFO:mdba_gauge_getter.gauge_get:VIC - Request 2 of 2
INFO:mdba_gauge_getter.gauge_get:QLD - Request 1 of 2
INFO:mdba_gauge_getter.gauge_get:QLD - Request 2 of 2

     DATASOURCEID   SITEID SUBJECTID    DATETIME  VALUE  QUALITYCODE
0             NSW   424002     WATER  2021-06-01  0.000          140
1             NSW   424002     WATER  2021-06-02  0.000          140
2             NSW   424002     WATER  2021-06-03  0.028          140
3             NSW   424002     WATER  2021-06-04  0.028          140
4             NSW   424002     WATER  2021-06-05  0.004          140
...           ...      ...       ...         ...    ...          ...
8079          QLD  416202A     WATER  2021-08-29  52.17          130
8080          QLD  416202A     WATER  2021-08-30  48.77          130
8081          QLD  416202A     WATER  2021-08-31  46.76          130
8082          QLD  416202A     WATER  2021-09-01  44.54          130
8083          QLD  416202A     WATER  2021-09-02  40.12          130

[8084 rows x 6 columns]

In [7]:
gg.gauge_pull(["422034"], start_time_user = datetime.date(2021, 1, 1), end_time_user= datetime.date(2021, 11, 4), var='L' )

INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 1

https://realtimedata.waternsw.com.au/cgi/webservice.pl?{"params":{"site_list":"422034","start_time":"20210101000000","varfrom":"100","interval":"day","varto":"100","datasource":"CP","end_time":"20211104000000","data_type":"mean","multiplier":"1"},"function":"get_ts_traces","version":"2"}

    DATASOURCEID  SITEID SUBJECTID    DATETIME  VALUE  QUALITYCODE
0            NSW  422034     WATER  2021-01-01  0.638          130
1            NSW  422034     WATER  2021-01-02  0.638          130
2            NSW  422034     WATER  2021-01-03  0.638          130
3            NSW  422034     WATER  2021-01-04  0.638          130
4            NSW  422034     WATER  2021-01-05  0.638          130
..           ...     ...       ...         ...    ...          ...
303          NSW  422034     WATER  2021-10-31  0.638          130
304          NSW  422034     WATER  2021-11-01  0.638          130
305          NSW  422034     WATER  2021-11-02  0.638          130
306          NSW  422034     WATER  2021-11-03  0.638          130
307          NSW  422034     WATER  2021-11-04  0.638          130

[308 rows x 6 columns]

In [9]:
gg.gauge_pull("422034", start_time_user = datetime.date(2000, 12, 4), end_time_user= datetime.date(2021, 11, 4), var='L' )

INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 1

Empty DataFrame
Columns: [DATASOURCEID, SITEID, SUBJECTID, DATETIME, VALUE, QUALITYCODE]
Index: []

In [24]:
gg.gauge_getter.sort_gauges_by_state(["407244"])

{'NSW': [], 'QLD': [], 'VIC': ['407244'], 'rest': []}

To use bom_water to return data in the same format see below

In [96]:
from typing import Tuple, List, Dict, TypeVar, Set, Optional, Any
import bom_water
import requests
import pandas as pd

import datetime

def fixdate(timestamp):
    date = timestamp.to_pydatetime()
    date = date.date()
    #datetime.astimzone('Australia/Sydney',date) #date.tz_localize('Australia/Sydney')   #datetime.datetime.strptime(date, '%Y-%m-%dT%H:%M:%S')
    return date

def gauge_pull_bom(gauge_numbers: List[str], start_time_user: datetime.date, end_time_user: datetime.date,
               var: str = 'F',
               interval: str = 'day', data_type: str = 'mean') -> pd.DataFrame:
    '''
    Given a list of gauge numbers, breaks the list into individual gauges, and uses BomWater to get data, 
    returning as a Pandas dataframe object in a gauge getter format.
    '''
    
    bm = bom_water.BomWater()

    if (interval == 'day') & (data_type == 'mean'):
        procedure = bm.procedures.Pat4_C_B_1_DailyMean
    
    if var == "F":
        prop = bm.properties.Water_Course_Discharge

    t_begin = start_time_user.strftime("%Y-%m-%dT%H:%M:%S%z")
    t_end = end_time_user.strftime("%Y-%m-%dT%H:%M:%S%z")

    # t_begin = "1800-01-01T00:00:00+10"
    # t_end = "2030-12-31T00:00:00+10"
    collect=[]
    for gauge in gauge_numbers:
        
        response = bm.request(bm.actions.GetObservation, gauge, prop, procedure, t_begin, t_end)

        response_json = bm.xml_to_json(response.text)  
        ts = bm.parse_get_data(response)
        
        # move to format DATASOURCEID	SITEID	SUBJECTID	DATETIME	VALUE	QUALITYCODE
        ts["DATASOURCEID"] = "BOM"
        ts["SITEID"] = gauge
        ts["SUBJECTID"] = "WATER"
        ts["DATETIME"] = ts.index.to_pydatetime()
        ts["DATETIME"] = pd.to_datetime(ts["DATETIME"])
        ts["DATETIME"] = ts["DATETIME"].apply(fixdate)
        ts["VALUE"] = ts["Value[cumec]"]
        ts["QUALITYCODE"] = ts["Quality"]

        collect.append(ts[["DATASOURCEID","SITEID",	"SUBJECTID", "DATETIME", "VALUE", "QUALITYCODE"]])

    return pd.concat(collect)

In [98]:
gauge_pull_bom(["410777", "412189"], start_time_user = datetime.date(2021, 1, 1), end_time_user= datetime.date(2021, 11, 4), var='F' )

,DATASOURCEID,SITEID,SUBJECTID,DATETIME,VALUE,QUALITYCODE
Timestamp[UTC],,,,,,
2020-12-31 14:00:00,BOM,410777,WATER,2020-12-31,NaN,-1
2021-01-01 14:00:00,BOM,410777,WATER,2021-01-01,NaN,-1
2021-01-02 14:00:00,BOM,410777,WATER,2021-01-02,5.902,140
2021-01-03 14:00:00,BOM,410777,WATER,2021-01-03,NaN,-1
2021-01-04 14:00:00,BOM,410777,WATER,2021-01-04,NaN,-1
...,...,...,...,...,...,...
2021-10-30 14:00:00,BOM,412189,WATER,2021-10-30,4.639,140
2021-10-31 14:00:00,BOM,412189,WATER,2021-10-31,4.529,140
2021-11-01 14:00:00,BOM,412189,WATER,2021-11-01,4.385,140
2021-11-02 14:00:00,BOM,412189,WATER,2021-11-02,4.249,140
2021-11-03 14:00:00,BOM,412189,WATER,2021-11-03,4.151,140