In [1]:
import mdba_gauge_getter as gg

In [2]:

help(gg.gauge_pull)

Help on function gauge_pull in module mdba_gauge_getter.gauge_getter:

gauge_pull(gauge_numbers:List[str], start_time_user:datetime.date, end_time_user:datetime.date, var:Union[str, NoneType]=None, interval:str='day', datatype:str='mean') -> pandas.core.frame.DataFrame
    Given a list of gauge numbers, sorts the list into state groups, and queries relevant
    HTTP endpoints for data, returning as a Pandas dataframe object.

In [3]:
import datetime
from decimal import *
BIGEE_gauges = ["410130", "410005", "410040"]
#gg.sort_gauges_by_state(BIGEE_gauges)
d_BIDGEE = gg.gauge_pull(BIGEE_gauges, start_time_user = datetime.date(2000, 12, 4), end_time_user= datetime.date(2020, 12, 4), var='F' )

INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 1

In [4]:
d_BIDGEE

      DATASOURCEID  SITEID SUBJECTID    DATETIME     VALUE  QUALITYCODE
0              NSW  410130     WATER  2000-12-04   649.745           38
1              NSW  410130     WATER  2000-12-05   598.909           38
2              NSW  410130     WATER  2000-12-06   578.624           38
3              NSW  410130     WATER  2000-12-07   555.826           38
4              NSW  410130     WATER  2000-12-08   527.558           38
...            ...     ...       ...         ...       ...          ...
21913          NSW  410040     WATER  2020-11-30  2122.212          140
21914          NSW  410040     WATER  2020-12-01  2091.129          140
21915          NSW  410040     WATER  2020-12-02  2085.267          140
21916          NSW  410040     WATER  2020-12-03  1866.843          140
21917          NSW  410040     WATER  2020-12-04  1633.865          140

[21918 rows x 6 columns]

In [5]:
Paroo =	["424201A","424202A","424002"]
Warrego = ["423203A","423204A"]
Condamine_Balonne = ["422006","422394A","422310C","422355A","422353A","422316A","422333A","422308C","422325A","422213A"]
Moonie = ["417204A","417201B","417001"]
Border_Rivers =["416002", "416202A","416011","416007","416043","416048"]
Gwydir = ["418036", "418027", "418037", "418060", "418008","418012","418013","418001","418002","418053","416027","418060","418066","416027","416052","418055"]
Namoi =["419021", "419049","419020","419022","419001","419012"]
Macquarie_Castlereagh = ["420004", "421039","421001","421012"]
Barwon_Darling = ["425003","416050","422001","422004","422028","425004"] 
Lachlan	= ["412057","412002","412004","412036","412011","412057"]
Murrumbidgee = ["410001","410008","410004","410005","410021","410078","410136","410040"]
Ovens = ["403241"]
Goulburn_Broken	= ["405232","405203","405201"]
Campaspe = ["406200","406207","406202"]
Loddon_Avoca = ["407203","407210","407224","407205"]
Wimmera	= ["415246"]
Murray = ["425010","409215","409204","414200","414203","426200"]
Lower_Darling = ["425012","425013","425005"]
Eastern_Mt_Lofty_Ranges = ["A4260568"]

allguages = Paroo + Warrego + Condamine_Balonne + Moonie + Border_Rivers + Gwydir + Namoi + Macquarie_Castlereagh + Barwon_Darling + Lachlan + Murrumbidgee + Ovens + Goulburn_Broken + Campaspe + Loddon_Avoca + Murray + Wimmera + Lower_Darling + Eastern_Mt_Lofty_Ranges

In [6]:
gg.gauge_pull(allguages, start_time_user = datetime.date(2021, 6, 1), end_time_user= datetime.date.today() )

WARNING:mdba_gauge_getter.gauge_get:Gauge 422353A has many state results: ['QLD', 'QLD']
INFO:mdba_gauge_getter.gauge_get:NSW - Request 1 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 2 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 3 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 4 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 5 of 6
INFO:mdba_gauge_getter.gauge_get:NSW - Request 6 of 6
INFO:mdba_gauge_getter.gauge_get:VIC - Request 1 of 2
INFO:mdba_gauge_getter.gauge_get:VIC - Request 2 of 2
INFO:mdba_gauge_getter.gauge_get:QLD - Request 1 of 2
INFO:mdba_gauge_getter.gauge_get:QLD - Request 2 of 2

     DATASOURCEID   SITEID SUBJECTID    DATETIME  VALUE  QUALITYCODE
0             NSW   424002     WATER  2021-06-01  0.000          140
1             NSW   424002     WATER  2021-06-02  0.000          140
2             NSW   424002     WATER  2021-06-03  0.028          140
3             NSW   424002     WATER  2021-06-04  0.028          140
4             NSW   424002     WATER  2021-06-05  0.004          140
...           ...      ...       ...         ...    ...          ...
8079          QLD  416202A     WATER  2021-08-29  52.17          130
8080          QLD  416202A     WATER  2021-08-30  48.77          130
8081          QLD  416202A     WATER  2021-08-31  46.76          130
8082          QLD  416202A     WATER  2021-09-01  44.54          130
8083          QLD  416202A     WATER  2021-09-02  40.12          130

[8084 rows x 6 columns]